.loading {
	animation: loading-shimmer 1s infinite;
	background: linear-gradient(
		to bottom,
		#222222 0%,
		#262626 25%,
		#222222 50%
	);
	background-size: 2000px 2000px;
	background-attachment: fixed;

	* {
		opacity: 0;
	}
}

@keyframes loading-shimmer {
	0% {
		background-position: 0 -1000px;
	}
	100% {
		background-position: 0 1000px;
	}
}
